@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Scheherazade+New&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 220px;
}

.logo{
    font-size: 45px;
    font-weight: 800;
}
.logo > span{
    color: #FD6E0A;
}

nav>ul{
    display: flex;
    align-items: center;
}

ul > li{
    list-style: none;
    margin-right: 50px;
}

ul li > a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

.btn-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    padding: 15px 35px 16px 36px;
}

.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 60px 0px 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content {
    width: 585px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin: 5px 0px 20px;
}
.banner-content>p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
    margin-bottom: 20px;
}
.profile-pic{
    width: 584px;
}
.main{
    margin: 0px 230px;
}

.about{
    background-color: #FFF8F3;
    margin: 130px 0px;
    padding: 130px 150px;
}
.about-title{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.about-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 160px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    margin: 0px 160px;
    text-align: center;
}
.info > span{
    color:#757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.info > p{
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}